<!DOCTYPE html>
{% load static %}

<html>
	<head lang="en">
		<link rel="stylesheet" type="text/css" href="{% static 'covid_site/style.css' %}">
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript" src="{% static 'covid_site/scripts.js' %}"></script>
		<title>
			COVID-19 Data Visualisation
		</title>
	</head>

	<body>
        {% block body_block %}
		{% endblock %}
		<script>
			function getCharts(){
				// Load Charts and the corechart and barchart packages.
				google.charts.load('current', {'packages':['corechart','geochart']});

				// Draw the pie chart and bar chart when Charts is loaded.
				google.charts.setOnLoadCallback(drawCharts);

			}
			function drawCharts() {
				
				var chartdata = {{ charts|safe }};
				for(var c=0; c < chartdata.length; c++){
					var chart = chartdata[c];
					drawChart(chart);
				}
			}
			window.onload = function() {
				getCharts();
			};
			window.addEventListener('resize', drawCharts, false);
		</script>
	</body>
</html>
