html {
    background-color: #ddddeb;
    height: 100%;
    width: 100%;
    padding-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sectionheading {
    font-size: 35px;
}
.dataheading {
    font-size: 20px;
    padding: 15px;
}
.datavalue {
    font-size: 25px;
    padding: 15px;
}
.charts {
    width: 97.9%;
}

#container{
    float: left;
    background-color: white;
    border: 7px solid white;
    border-radius: 25px;
    box-shadow: 2px 2px #9895af;
    padding: 3px;
    margin: 5px;
}
.wholeSpan {
    width: 100%;
}
.threeQuarterSpan {
    width: 75%;
}
.twoThirdSpan {
    width: 66%;
}
.halfSpan {
    width: 50%;
}
.oneThirdSpan {
    width: 33%;
}
.quarterSpan {
    width: 25%;
}